# Creating DataFrames

1. Use the dictionary `data` to create a DataFrame.

In [2]:
data = { 'col1': ['v1', 'v2', 'v3'],
         'col2': [ 0,    1,    2 ]}
import pandas as pd

pd.DataFrame(data)

  col1  col2
0   v1     0
1   v2     1
2   v3     2

2. Use this list of lists to create a DataFrame

In [3]:
data = [[ 'v1', 0 ],
        [ 'v2', 1 ],
        [ 'v3', 2 ]]

pd.DataFrame(data)

    0  1
0  v1  0
1  v2  1
2  v3  2

3. Use the Pandas `read_csv()` function to read the file 'USCG.Search.Rescue.Stats.csv'. The file is located in the current directory, so no additional path needs to be pre-pended to it.

In [4]:
pd.read_csv('USCG.Search.Rescue.Stats.csv')

,Fiscal Year,Cases,Responses,Sorties,Lives Saved,Lives Lost After CG Notification,Lives Lost Before CG Notification,Total,Lives Unaccounted For
1964,NaN,41525,NaN,2932,NaN,NaN,NaN,NaN,NaN
1965,NaN,38586,NaN,1984,NaN,NaN,NaN,NaN,NaN
1966,NaN,43366,NaN,2629,NaN,NaN,NaN,NaN,NaN
1967,NaN,42225,NaN,3028,NaN,NaN,NaN,NaN,NaN
1968,NaN,46922,NaN,2434,NaN,NaN,NaN,NaN,NaN
1969,NaN,48720,NaN,2050,NaN,NaN,NaN,NaN,NaN
1970,44975.0,52183,62286.0,4135,1783.0,NaN,1783.0,NaN,NaN
1971,48894.0,56181,68251.0,2423,1324.0,NaN,1324.0,NaN,NaN
1972,51539.0,60328,72306.0,2633,1389.0,NaN,1389.0,NaN,NaN
1973,55107.0,64182,77209.0,2918,1474.0,NaN,1474.0,NaN,NaN
1974,59335.0,67692,79950.0,2751,1509.0,NaN,1509.0,NaN,NaN
1975,62334.0,70551,81561.0,3024,1254.0,NaN,1254.0,NaN,NaN
1976,67179.0,75069,87807.0,2995,1112.0,NaN,1112.0,NaN,NaN
1977,74637.0,82601,96021.0,4121,1458.0,NaN,1458.0,NaN,NaN
1978,77954.0,86222,100262.0,4386,1556.0,NaN,1556.0,NaN,NaN
1979,72517.0,79858,92117.0,5747,949.0,672.0,1621.0,NaN,NaN
1980,73345.0,81476,93726.0,6868,1235.0,586.0,1821.0,NaN,NaN
1981,71781.0,78951,91432.0,6339,1080.0,637.0,1717.0,NaN,NaN
1982,68552.0,75717,87715.0,5675,1359.0,446.0,1805.0,NaN,NaN
1983,63980.0,72585,85796.0,5946,1121.0,640.0,1761.0,NaN,NaN
1984,57431.0,66073,80698.0,5645,1148.0,319.0,1467.0,NaN,NaN
1985,60775.0,70237,88449.0,6497,1076.0,259.0,1335.0,NaN,NaN
1986,51765.0,68805,89318.0,4307,475.0,180.0,655.0,NaN,NaN
1987,55998.0,66656,87211.0,5785,1015.0,576.0,1591.0,NaN,NaN
1988,54199.0,63446,83616.0,4307,583.0,449.0,1032.0,NaN,NaN
1989,52776.0,64027,81862.0,3981,461.0,646.0,1107.0,NaN,NaN
1990,53097.0,64971,84033.0,4407,463.0,622.0,1085.0,NaN,NaN
1991,52782.0,66409,84872.0,5465,368.0,748.0,1116.0,NaN,NaN
1992,53294.0,69856,88388.0,5543,399.0,540.0,939.0,NaN,NaN
1993,53026.0,69784,88147.0,5826,415.0,800.0,1215.0,NaN,NaN
1994,53899.0,70337,108758.0,7889,338.0,593.0,931.0,NaN,NaN
1995,49704.0,63679,110267.0,4453,304.0,468.0,772.0,NaN,NaN
1996,43553.0,55710,98423.0,5047,367.0,611.0,978.0,NaN,NaN
1997,41096.0,52141,91722.0,3897,290.0,454.0,744.0,NaN,NaN
1998,37218.0,46602,83307.0,3194,188.0,418.0,606.0,NaN,NaN
1999,39844.0,50622,89635.0,3743,180.0,353.0,533.0,NaN,NaN
2000,40214.0,48226,57697.0,3400,239.0,779.0,1018.0,304.0,NaN
2001,39457.0,49502,59015.0,4010,297.0,413.0,710.0,515.0,NaN
2002,36763.0,46643,54609.0,3661,236.0,399.0,635.0,339.0,NaN
2003,31429.0,51389,33117.0,5192,263.0,409.0,672.0,496.0,NaN
2004,32418.0,59995,33460.0,5557,281.0,502.0,783.0,691.0,NaN
2005,29646.0,52741,30779.0,5635,324.0,521.0,845.0,603.0,NaN
2006,28151.0,45910,28583.0,5275,328.0,452.0,780.0,664.0,NaN
2007,26927.0,47517,26586.0,5200,300.0,492.0,792.0,732.0,NaN
2008,24213.0,44931,25475.0,4900,291.0,534.0,825.0,435.0,NaN
2009,23545.0,47497,24644.0,4882,261.0,555.0,816.0,578.0,NaN
2010,22229.0,46407,23145.0,4362,263.0,552.0,815.0,409.0,NaN
2011,20512.0,43954,21566.0,3793,259.0,476.0,735.0,392.0,NaN
2012,19787.0,43940,21609.0,4037,284.0,429.0,713.0,440.0,NaN
2013,17803.0,38272,19420.0,3753,226.0,425.0,651.0,252.0,NaN
2014,17508.0,38282,19032.0,3443,170.0,425.0,595.0,308.0,NaN
2015,16456.0,37215,18781.0,3536,169.0,434.0,603.0,330.0,NaN